@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}

header{
    background-color: black;
    width: 100%;

}


/* Navbar */
nav{
    display: flex;
    width: 80%;
    align-items: center;
    font-weight: 200;
    justify-content: space-between;
    background: transparent;
    user-select: none;
    margin: auto;
    padding: 1.7rem 0px;                   /*1 rem = 10px*/
    color: white;
}

nav .element{
    padding-bottom: 1rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

nav .element a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
}

nav .right{
    display: flex;
}

nav .right .element a{
    margin-right: 2rem;
    font-size: 1.8rem;
    padding: 0.8rem;
    font-weight: 200;
}

/* Main */

.top{
    position: relative;
    height: calc(100vh - 30rem);
    min-height: 42rem;
    max-height: 57rem;
    margin-bottom: 4rem;
}

.image{
    position: absolute;
    z-index: -1;
     min-height: 42rem;
    max-height: 57rem;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
     height: calc(100vh - 30rem);
}

.top .center{
    position: absolute;
    bottom: calc(50%-11.1rem);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1{
    position: relative;
    bottom: 100px;
    font-size: 3.6rem;
    font-weight: 200;
    color: white;
}

.search_cont{
    display: flex;
    position: relative;
    bottom: 80px;
    flex-direction: row;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.8rem;
    height: 5.5rem;
    align-items: center;
}

main .search_cont input{
    border: none; 
}

main .top .search_cont > div{
    display: flex;
    align-items: center;
}


main .search_cont .location{
    width: 24rem;
    padding: 0 1rem;
   justify-content: space-around;
   gap: .5rem;
}

/* icon color */

main .search_cont .location i{
    color: rgb(255, 126, 139);
    font-size: 2rem;
}

/* Line */
.line{
    width: 0;
    height: 2rem;
    border: 0.05rem solid rgb(207, 207, 207);
 }

 main .search_cont .search{
    width: 53rem;
    display: flex;
 }

 main .search_cont .search input{
    flex: 1;
    padding-left: 1rem;
}

 main .search_cont .search i{
     color: rgb(130, 130, 130);
    font-size: 2rem;
    padding: 0px 0rem 0px .5rem;
}

/* Border hatane ke liye from input when we click */
main .search_cont  input:focus{
    outline: none;
}

/* Options */

.main_body{
    margin: auto;
    width: 100%;
    max-width: 110rem;
}

.option{
    display: flex;
    
}

.option{
    width: 100%;
    flex: 1;
}

.image1{
    overflow: hidden;
    height: 100%;
    width: 100;
}

.image1 img{
    
    height: 24rem;
    width: 28rem;
}